<nav class="navbar pb-4 navbar-expand-lg navbar-dark bg-success ">
  <h1 class="text-justify"><a class="navbar-brand" href="#">Saved Articles</a></h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/saved">Saved Articles</a>
      </li>
      <li class="nav-item">
      <button class="btn btn-primary bg-primary text-white" role="button">Clear Articles</button>
      </li>
    </ul>
  </div>
</nav>
<div class=row>
        <div class="col-12">
            {{#each scrape}}
            {{#if saved}}
                <div class="card w-90">
                    <div class="card-header text-white bg-primary">
                        <a href={{this.url}} target="_blank" class="text-white">
                            <h2>{{this.title}}</h2>
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            {{this.paragraph}}
                        </p>
                        <button data="{{this._id}}" class="btn btn-info note-btn">Article Notes</button>
                        <button data="{{this._id}}" class="btn btn-danger delete-btn">Delete From Saved</button>
                    </div>
                </div>
                {{/if}}
            {{/each}}
        </div>
    </div>
    <script>
      $(document).ready(function () {
        
         $(".delete-btn").click(function (event) {
        event.preventDefault();
        const id = $(this).attr("data");
        $.ajax(`/remove/${id}`, {
            type: "PUT"
        }).then(function(){
            location.reload();
        })
    });

          $(document).on('click', '.btn-deletenote', function (){
            event.preventDefault();
            console.log($(this).attr("data"))
            const id = $(this).attr("data");
            console.log(id);
            $.ajax(`/note/${id}`, {
                type: "DELETE"
            }).then(function () {
                $('#note-modal').modal('toggle');
            });
    });
      })
    </script>